<html>
  <center>
    <h1>
      Welcome! What would you like to do?
    </h1>

    <body>
      Option 1: <br>
      <a href = "/listofstories"> Read all available stories </a>

      <br><br>
      <!--Option 2: <br>
      <a href = "/updatestory"> Edit an exiting story </a>
      <br><br>-->

      Option 2: <br>
      <a href = "/createstory"> Create a new story </a>
      <br><br>

      Option 3: <br>
      <a href = "/updatestory/<storyname>"> Update an existing story </a>
      <br><br>



  </body>
  </html>
