<html>
  <center>
    <h1>
      Welcome! What would you like to do?
    </h1>

    <body>
      Option 1: <br>
      <a href = "/listofstories"> Read all available stories </a>

      <br><br>
      <!--Option 2: <br>
      <a href = "/updatestory"> Edit an exiting story </a>
      <br><br>-->

      Option 2: <br>
      <a href = "/createstory"> Create a new story </a>
      <br><br>

      Option 3: <br> 
      To edit a story, go to list of stories and click the story you want to add on to.
      <br><br>
      
      Option 4 <br>
      Click here to logout.
      <form action = "/loggit">
	<input type = "submit" name = "submit" value = "Logout">
      </form>



  </body>
  </html>
