<!DOCTYPE html>
<html>
	<head>
		<title>HOLA</title>
	</head>
	<body>
		<center>
			  <h2>Welcome, please sign-in below.</h2>
			  {% set messages = get_flashed_messages() %}
			  {% for item in messages %}
			  {{item}}
			  {%endfor%}
			  <form action = "/loggit">
			    Username: <input type = "text" name = "user">
			    <br>
			    Password: <input type = "password" name = "passo">
			    <br><br>
			    <input type = "submit" value = "Submit">				
			</form>

		  Not signed up? Click <a href="/register">here</a>
			</form>
		</center>
 	</body>
</html>
