<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<center>
			<form action = "/register_redirect" method="post">
				<h2>Welcome, please register below.</h2>
				Username: <input type = "text" name = "user">
				<br>
				Email: <input type="text" name="email">
				<br>
				Password: <input type = "password" name = "passo">
				Repeat Password: <input type = "password" name = "repeatpasso">
				<br><br>
				<input type = "submit" value = "Submit">
			</form>
		</center>
 	</body>
</html>
